@using RentACar_Modelos
@model IEnumerable<Reserva>
@{
    ViewBag.Title = "Reservas";
}

<h2>Todas las reservas</h2>
@Html.ActionLink("Agregar reserva", "Crear", null, new { @class = "btn btn-primary" })

@if (this.ViewData["TextoBotonResultados"].ToString() == "Finalizadas")
{
    @Html.ActionLink(this.ViewData["TextoBotonResultados"].ToString(), "BitacoraReservas", null, new { @class = "btn btn-danger" })
}
else if (this.ViewData["TextoBotonResultados"].ToString() == "Todas")
{
    @Html.ActionLink(this.ViewData["TextoBotonResultados"].ToString(), "Index", null, new { @class = "btn btn-primary" })
}

@if (Model is null)
{
    <h4 class="alert alert-warning">@this.ViewData["MensajeError"]</h4>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre de Cliente</th>
                <th scope="col">Matricula de Coche</th>
                <th scope="col">Precio de Alquiler</th>
                <th scope="col">Dias de Alquiler</th>
                <th scope="col">Fecha Inicio</th>
                <th scope="col">Fecha Final</th>
                <th scope="col">Precio Total</th>
                <th scope="col">Id de Vendedor</th>
                <th scope="col">Nombre de Vendedor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var reserva in Model)
            {
                <tr>
                    <td scope="row">@reserva.NombreCliente</td>
                    <td scope="row">@reserva.Matricula</td>
                    <td scope="row">@reserva.PrecioAlquilerCoche</td>
                    <td scope="row">@reserva.DiasAlquiler</td>
                    <td scope="row">@reserva.FechaInicio.ToShortDateString()</td>
                    <td scope="row">@reserva.FechaFin.ToShortDateString()</td>
                    <td scope="row">@reserva.PrecioTotal</td>
                    <td scope="row">@reserva.IdVendedor</td>
                    <td scope="row">@reserva.NombreVendedor</td>
                    <td>
                        @Html.ActionLink("Anular", "Anular", new { idReserva = reserva.Id }, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}