@using RentACar_Modelos
@model IEnumerable<Coche>

<h1>Coches</h1>
@*@Html.ActionLink("Nuevo Coche", "Crear", null, new { @class = "btn btn-primary" })

@if (this.ViewData["TextoBotonResultados"].ToString() == "Disponibles")
{
    @Html.ActionLink(this.ViewData["TextoBotonResultados"].ToString(), "ConsultarListaDisponibles", null, new { @class = "btn btn-warning" })
}
else if (this.ViewData["TextoBotonResultados"].ToString() == "Todos")
{
    @Html.ActionLink(this.ViewData["TextoBotonResultados"].ToString(), "Index", null, new { @class = "btn btn-warning" })
}*@

@if (Model != null)
{
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Matricula</th>
                <th scope="col">Color</th>
                <th scope="col">Precio de Alquiler</th>
                <th scope="col">Garaje</th>
                <th scope="col">Marca</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Coche coche in Model)
            {
                <tr>
                    <td scope="row">@coche.Matricula</td>
                    <td>@coche.Color</td>
                    <td>@coche.PrecioAlquiler</td>
                    <td>@coche.Garaje</td>
                    <td>@coche.Marca</td>
                    <td>
                        @Html.ActionLink("Editar", "Editar", null, new { @class = "btn btn-warning" })
                        @Html.ActionLink("Eliminar", "Eliminar", null, new { @class = "btn btn-danger" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <h3>No hay datos disponibles.</h3>
}